[Unit]
Description=Save personal configuration and Org vault every night

[Timer]
OnCalendar=*-*-* 03:30:00
Persistent=true

[Install]
WantedBy=timers.target
