[Unit]
Description=Run dynamic wallpaper near hour transitions

[Timer]
OnCalendar=*-*-* *:00:00
OnCalendar=*-*-* *:55..59:00
OnStartupSec=60s
Persistent=true

[Install]
WantedBy=timers.target
