[Unit]
Description=Atualiza o manifesto de pacotes diariamente

[Timer]
OnCalendar=*-*-* 04:30:00
Persistent=true
RandomizedDelaySec=20m

[Install]
WantedBy=timers.target
